body{
    font-family: Roboto;
}
.container{
    padding: 15px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer{
    background-color: #062454;
    width: 1919px;
    height: 404;
}
.carousel-item{
    text-align: center;
    min-height: 280px;
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.div-logo{
    padding: 15px;
    padding-bottom: 30px;
    width: 1929px;
    height: 1113px;
    background-color: #3933FF;
}
.div-redes{
    padding: 15px;
    padding-bottom: 30px;
    width: 1919px;
    height: 337px;
    background-color: #19195E;
}
.div-direitos{
    padding: 15px;
    padding-bottom: 30px;
    width: 1919px;
    height: 88px;
    background-color: #F5239A;
}
.title-style{
    font-style: italic;
    font-weight: bold;
    color: #062454;
    font-size: 25px;
}