.postagens {

  .post {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 33%;
    height: 300px;
    margin: 0 0 30px 0;

    &:last-child {
      margin: 0;
    }

    &.destaque {
      width: 66%;
    }

    &-tag {
      display: inline-block;
      position: absolute;
      height: 40px;
      background-color: $blue-dark;
      padding: 5px 15px;
      box-sizing: border-box;
      line-height: 30px;
      top: 5%;
      color: $white;
      z-index: 1;
    }

    .card-img-overlay {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: flex-start;
      align-items: stretch;
    }

    &-info {
      .author,
      .date {
        display: inline-block;
        color: $pink;
        font-weight: bold;

        h1, h2, h3, h4, h5, h6, p {
          font-weight: bold;
          margin: 0;
        }
      }
    }

    &-description {
      max-height: 51px;
      overflow: hidden;
    }

    .card-img {
      height: 100%;
      opacity: 0.1;
    }

  }

}