.header {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  padding: 5px 0 0 0;
  border-top: 1px solid $gray;

  .navigation {
    display: inline-block;
    margin: 0 10% 0 0;
    .nav-link {
      display: inline-block;
      color: darken($gray, 40%);

      &:hover {
        color: $pink;
        font-weight: bold;
      }
    }
  }

  .search {
    display: inline-block;
    position: relative;

    .search-input {
      border: 0;
      border-bottom: 1px solid #ced4da;
      border-radius: 0;
      background: transparent;
    }

    i {
      position: absolute;
      right: 10px;
      top: 30%;
      color: #ced4da;
    }
  }
}