.tag {
  display: inline-block;
  position: absolute;
  height: 40px;
  background-color: $blue-dark;
  padding: 5px 15px;
  box-sizing: border-box;
  line-height: 30px;
  top: 5%;
  color: $white;

}