// Basics
$black: #000 !default;
$white: #fff !default;
$blue-dark: #09095A;
$blue: #0800FF;
$pink: #F5239A;
$gray: #CCC;

// Framework
$primary: $blue-dark !default;
$secondary: $pink !default;

// Fonts
$body-color: $white !default;
$font-color: $gray;