$font-path: './../font/';
$font-family: 'Arial', sans-serif !default;

$font-heading-name: 'Alte Haas Grotesk';
$font-heading-file: 'AlteHaasGroteskBold';

$font-banner-name: 'Animal Silence';
$font-banner-file: 'AnimalSilence';
